<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpf_DefaultProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wpf_DefaultProject.Properties.Settings>
            <setting name="StartText" serializeAs="String">
                <value>CSE775 - Distributed Objects Demo</value>
            </setting>
            <setting name="WindowHt" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowWd" serializeAs="String">
                <value>300</value>
            </setting>
        </Wpf_DefaultProject.Properties.Settings>
    </userSettings>
</configuration>